<h1>New listened song</h1>

<%= form_for(@listened_song) do |f| %>
  <% if @listened_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listened_song.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @listened_song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row collapse">
    <div class="small-9 columns">
    <!--                       Variable        zielFeld, Collection, Value, Anzeigename-->
      <%= f.collection_select(:song_id, Song.all, :id, :title) %>
    </div>
</div>

<div class="row collapse">
  <div class="small-9 columns">
    <%= f.submit class: "button radius"%>
  </div>
  </div>
 
<% end %>



<%= link_to 'Artist not yet in Database?', artists_path %>
