<h1>Neuigkeiten</h1>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="large-3 columns"><%= link_to post.title %></div>
          <div class="small-6 columns"><%= post.content %></div>
            <ul class="button-group">
              <li><%= link_to 'Show', post, class: "tiny button"  %></li>
              <li><%= link_to 'Edit', edit_post_path(post), class: "tiny button"  %></li>
              <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button" %></li>
            </ul>
          </div>
    <% end %>

<!-- Rechts anordnen
Dropdownmenue mit Interpreten anlegen
Dropdownmenue mit Songs anlegen
Play Button anlegen
-->


<%= link_to 'New Post', new_post_path, class: "button radius" %>
